@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Roboto Condensed' sans-serif;
}

/************************ NAV LINKS ********************************/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}
nav ul {
  margin-left: auto;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-color) !important;
  border-bottom: 3px solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-bottom: 3px solid var(--secondary-color);
}

.navbar-brand {
  padding: 0 !important;
  height: 4rem !important;
  margin-top: 35px !important;
}
